body{
  font-family: Arial, sans-serif;
  font-size: small;
}
.container {
margin: 0 auto;
width: 80%;
}
img{
  max-width: 100%;
  height: 100%;
  position: absolute;
  top: 20px;
  right: 120px;
 
}
table, th, td {
  border: 1px solid black;
}
table{
  width: 100%;
}
h3{
  background-color: rgb(158, 154, 154);
  text-decoration: underline;
  padding-left: 10px;
  
}
.personalinfo{
  line-height: normal;
}
.name{
  padding: 0;
  text-decoration: none;
  background-color: white;
  margin-top: 10px;
}